* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid red;
  padding: 10px;
}

.user-input {
  font-size: 32px;
  padding: 10px;
  text-align: right;
  margin: 5px;
}

.button-rows {
  display: flex;
  min-width: 100%;
}

.button-rows > .btn {
  flex: 1;
}

.button-rows-upper,
.button-rows-lower {
  display: grid;
  min-width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  font-size: 32px;
  padding: 5px;
  margin: 5px;
}

.clear-btn {
  grid-column: span 3;
}

.divide-btn {
  grid-column: span 1;
}

.zero {
  grid-column: span 3;
}

.equals-btn {
  grid-column: span 1;
}
